allowed_domains = []
auto_update = 168 # 1 week
debug = false
external = true
filters_path = "./"
filter_version = "OneHostsPro"
small = true
verbosity = 0
#web_password = "superpassword"

[overrides]
"example.com" = [4, 3, 2, 1]
