body {
    background-color: ##f9f9fa;
}

.login-container {
    background-color: #fcfcfc;
    width: 300px;
    height: 400px;
    margin: 7em auto;
    padding-top: 1px;
    border-radius: 0.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding: 1px 50px;
}

.login-password {
    display: block;
    margin: 50px auto 0;
    width: 262px;
    border: 5px 6px;
}

.login-button {
    display: block;
    margin: 20px auto;
    border: none;
    padding: 8px 16px;
    background-color: #009688;
    color: white;
    width: 275px;
    border-radius: 0.2em;
}

.disable-button {
    background-color: #960000;
    color: white;
}

.login-container h1 {
    margin-top: 100px;
    text-align: center;
}

.main-container {
    display: none;
}

.main-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    padding: 10px;
}

.grid-item {
    width: 400px;
    padding: 20px;
    margin-bottom: 50px;
    height: 400px;
    border-radius: 0.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

table {
    max-height: 300px;
    overflow: auto;
    display: block;
}

table td:nth-child(1) {
    width: 33%;
    word-break: break-all;
}

table td:nth-child(2) {
    width: 33%;
}

table td:nth-child(3) {
    width: 33%;
}

#allowed-domains {
    display: table;
    width: 100%;
}

#allowed-domains td:nth-child(1) {
    width: 85%;
    /* word-break: break-all; */
}

#allowed-domains td:nth-child(2) {
    width: 15%;
}

#overrides-domains td:nth-child(1) {
    width: 75%;
}

#overrides-domains td:nth-child(2) {
    width: 15%;
}

#overrides-domains td:nth-child(3) {
    width: 10%;
}

#instrumentation td:nth-child(1) {
    width: 65%;
}

#instrumentation td:nth-child(2) {
    width: 20%;
}

#instrumentation td:nth-child(3) {
    width: 15%;
}

#statistics td:nth-child(1) {
    width: 50%;
}

#statistics td:nth-child(2) {
    width: 10%;
}

#statistics td:nth-child(3) {
    width: 30%;
}

#statistics td:nth-child(4) {
    width: 10%;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.remove-icon {
    height: 13px;
    cursor: pointer;
}

.remove-allowed-domains-column {
    text-align: center;
    padding-top: 6px;
}

.allow-domain-column {
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .login-container {
    width: 70%;
    height: 275px;
    padding: 1px 20px;
  }

  .login-container h1 {
      margin-top: 50px;
  }

  .login-password {
      width: 95%;
  }

  .login-button {
      width: 97%;
  }
}
